@import '../../../../styles/globals'

.home__hero,
.home__hero .hero-body
  height: 100%

.home__hero
  *
    color: $white

  .hero-body
    padding-left: 14vw
    padding-right: 14vw

    .brand
      margin-bottom: 12px
      cursor: pointer

      .logo-container
        justify-content: flex-start

      .title
        font-size: 6em

      &:hover
        .logo
          width: 140px
          height: 140px

        .title
          font-size: 8em

    .subtitle
      padding-right: 28px
      font-size: 1.2em
      max-width: 1024px

  @import './button-to-experience/ButtonToExperience'

body.dark
  .home__hero
    *
      color: $black !important
