@import '../../../styles/globals'

.sidebar
  position: fixed !important
  top: 0
  right: 0
  width: 80px
  height: 100vh
  padding: 20px 12px 40px 0
  background-color: transparent
  z-index: 10

  .logo-container
    width: 100%

  .button--to-top
    position: absolute
    bottom: 20px
    left: 0
    width: 68px


